# Using iterators in Python

***

#### Iterating with a for loops
* we can iterate over a list using a for loop

In [11]:
employees = ["Faisal","Kutb","Riman","Moin"]
for value in employees:
    print(value)

Faisal
Kutb
Riman
Moin

* we can iterate over a string using a for loop

In [14]:
for letter in "Datacamp":
    print(letter)

D
a
t
a
c
a
m
p

* we can iterate over a range object using a for loop

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

***

#### Iterators vs. iterables
##### Iterable
Examples: lists, strings, dictionaries, file connections
* An object with an associated iter() method
* Applying iter() to an iterable creates an iterator
##### Iterator
Produces next value with next()

#### Iterating over iterables: next()

In [3]:
word = 'Da'
it = iter(word)
next(it)

'D'

In [4]:
next(it)

'a'

#### Iterating at once with *

In [5]:
word = 'Data'
it = iter(word)
print(*it)

D a t a

In [6]:
print(*it)

#### Iterating over dictionaries

In [25]:
pythonistas = {'hugo': 'bowne-anderson', 'francis': 'castro'}
for key, value in pythonistas.items():
    print(key, value)

hugo bowne-anderson
francis castro

#### Iterating over file connections

In [5]:
file = open('file.txt')
it = iter(file)
print(next(it))
print(next(it))
print(next(it))

This is a line

This is a line

This is a line

#### Iterating over iterables (1)

In [13]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
    print(person)


# Create an iterator for flash: superspeed
superspeed = iter(flash)

# Print each item from the iterator
print(next(superspeed))
print(next(superspeed))
print(next(superspeed))
print(next(superspeed))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

#### Iterating over iterables (2)

In [3]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values

for num in range(3):
    print(num)

# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

#### Iterators as function arguments

In [5]:
# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

#### Enumerate

enumerate is a function that takes any iterable as argument, such as a list, and returns a special enumerate object, which consists of pairs containing the elements of the original iterable, along with their index within the iterable. We can use the function list to turn this enumerate object into a list of tuples and print it to see what it contains.

In [50]:
avengers = ['cap', 'ironman','thor']
e = enumerate(avengers)
print(type(e))
print(e)

<class 'enumerate'>
<enumerate object at 0x0000022892E9F880>

In [51]:
e_list = list(e)
print(e_list)

[(0, 'cap'), (1, 'ironman'), (2, 'thor')]

### enumerate() and unpack
The enumerate object itself is also an iterable and we can loop over it while unpacking its elements using the clause for index, value in enumerate(avengers). It is the default behavior of enumerate to begin indexing at 0. However, you can alter this with a second argument, start, which you can see here.

In [52]:
for index,value in enumerate(avengers):
    print(index, value)

0 cap
1 ironman
2 thor

#### Using zip()

Now let's move on to zip, which accepts an arbitrary number of iterables and returns an iterator of tuples. Here we have two lists, one of the avengers, the other of their names. Zipping them together creates a zip object which is an iterator of tuples. We can turn this zip object into a list and print the list. The first element is a tuple containing the first elements of each list that was zipped. The second element is a tuple containing the second elements of each list that was zipped and so on.

In [42]:
avengers = ['Thor','Ironman','Captain','Hulk']
names=['Odinson','Stark','Roger','Bruce']

z = zip(avengers, names)
print(z)

<zip object at 0x0000022892EA2DC0>

In [43]:
z_list = list(z)
print(z_list)

[('Thor', 'Odinson'), ('Ironman', 'Stark'), ('Captain', 'Roger'), ('Hulk', 'Bruce')]

In [44]:
for avenger, name in zip(avengers, names):
    print(avenger, name)

Thor Odinson
Ironman Stark
Captain Roger
Hulk Bruce

In [49]:
z = zip(avengers, names)

# Print zip with *
print(*z)

('Thor', 'Odinson') ('Ironman', 'Stark') ('Captain', 'Roger') ('Hulk', 'Bruce')

#### Example Using enumerate

In [2]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in mutant_list:
    print(index1, value1)

# Change the start index
for index2, value2 in mutant_list:
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde